//- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

doctype html
html(lang="en")
  head
    meta(name='cybers-cafe' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    meta(charset='utf-8')
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    title Cybers Cafe

    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
    link(rel="stylesheet" type="text/css" href="/canvas/styles.css")
    link(rel="manifest" href="/canvas/manifest.json")

    script(src="/scripts/jquery-3.1.1.min.js")
    script(type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    script(src="/canvas/playcanvas-stable.min.js")
    script(src="/canvas/const.js")
    script(src="/scripts/home.js")

  body
      div(id="viewport-div")
      script(src="/canvas/__start__.js")
      script(src="/canvas/__loading__.js")
      div(id="drawer-icon-div")
        span.glyphicon.glyphicon-menu-hamburger.drawer-icon(onclick="drawer()")

      .progress(id="progress-div")
        .progress-bar(id="progress-inner-div" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
          span.sr-only(id="progress-span")

      div(id="interface-div")
        span.glyphicon.glyphicon-menu-hamburger.drawer-icon(onclick="drawer()")
        span.label.label-mode-movement(id="modeLabel") Movement Mode

        .navbar.navbar-default
          .navbar-header
            .navbar-brand /Cybers Cafe/

        .navbar.navbar-default
          ul.nav.navbar-nav
            li
              a(id="createLink", href="#", onclick="selectSection('createSection')") Create
            li
              a(id="editLink", href="#", onclick="selectSection('editSection')") Edit

        div(id="createSection")
          .navbar.navbar-default
            .container.interface-part
              ul.nav.navbar-nav
                li
                  a(id="imageLink", href="#", onclick="selectForm('createEntityImageForm')") Image
                li
                  a(id="htmlLink", href="#", onclick="selectForm('createEntityHtmlForm')") HTML
                li
                  a(id="modelLink", href="#", onclick="selectForm('createEntityModelForm')") 3d Model
                li
                  a(id="functionLink", href="#", onclick="selectForm('createEntityFunctionForm')") Function

          form(id="createEntityImageForm" name="createEntityImage" method="post" enctype="multipart/form-data")
            .container.interface-part
              .row
                .col-sm-4
                  label(for="title") Title :
                .col-sm-8
                  input.form-ctl(type="text", name="title", id="title", value=entity.title)
              .row
                .col-sm-4
                  label(for="imgFile") Image File :
                .col-sm-8
                  input.form-ctl(type="file", name="imgFile", id="imgFile", value=entity.imgFile)
              .row
                .col-sm-4
                .col-sm-4
                  button.btn.btn-success(type="submit") Upload
                .col-sm-4
          form(id="createEntityModelForm" name="createEntityModel" method="post" enctype="multipart/form-data")
            .container.interface-part
              .row
                .col-sm-4
                  label(for="title") Title :
                .col-sm-8
                  input.form-ctl(type="text", name="title", id="title", value=entity.title)
              .row
                .col-sm-4
                  label(for="zipFile") Zip File :
                .col-sm-8
                  input.form-ctl(type="file", name="zipFile", id="zipFile", value=entity.zipFile)
              br
              .row
                .col-sm-4
                .col-sm-8
                  a(href="#" data-toggle="modal" data-target="#zipModal") Convert a 3D model to Zip
              br
              .row
                .col-sm-4
                .col-sm-4
                  button.btn.btn-success(type="submit") Upload
                .col-sm-4
          br
          .list-group(id="entityChooseList")
          br
          .container.interface-part(id="createFormResultContainer") Ready...


        div(id="editSection")
          form(id="editEntityForm" name="editEntity" method="put")
            .container.interface-part(id="editEntitySelect")
              .row
                .col-sm-4
                .col-sm-8
                  button.btn.btn-outline-info(type="button", id="editEntitySelectButton") Select an Entity
              br
              .row
                .col-sm-4
                  label(for="title") Id :
                .col-sm-8
                  input.form-ctl(type="text", name="id", min="0", id="editEntityId", value=entity.id)
              .row
                .col-sm-4
                  label(for="title") Title :
                .col-sm-8
                  input.form-ctl(type="text", name="title", id="editEntityTitle", value=entity.title)
            br
            .container.interface-part
              .navbar.navbar-default
                ul.nav.navbar-nav
                  li
                    a(id="moveLink", href="#", onclick="selectForm('editEntityMoveForm')") Translate
                  li
                    a(id="rotateLink", href="#", onclick="selectForm('editEntityRotateForm')") Rotate
                  li
                    a(id="scaleLink", href="#", onclick="selectForm('editEntityScaleForm')") Scale
            .container.interface-part(id="editEntityMoveForm")
              .row
                .col-sm-4
                  label(for="posX") Position X :
                .col-sm-8
                  input.form-ctl(type="number", step="any", name="posX", id="editEntityPosX", value=entity.posX)
              .row
                .col-sm-4
                  label(for="posY") Position Y :
                .col-sm-8
                  input.form-ctl(type="number", step="any", name="posY", id="editEntityPosY", value=entity.posY)
              .row
                .col-sm-4
                  label(for="posZ") Position Z :
                .col-sm-8
                  input.form-ctl(type="number", step="any", name="posZ", id="editEntityPosZ", value=entity.posZ)
            .container.interface-part(id="editEntityRotateForm")
              .row
                .col-sm-4
                  label(for="rotX") Rotation X :
                .col-sm-8
                  input.form-ctl(type="number", step="any", name="rotX", id="editEntityRotX", value=entity.rotX)
              .row
                .col-sm-4
                  label(for="rotY") Rotation Y :
                .col-sm-8
                  input.form-ctl(type="number", step="any", name="rotY", id="editEntityRotY", value=entity.rotY)
              .row
                .col-sm-4
                  label(for="rotZ") Rotation Z :
                .col-sm-8
                  input.form-ctl(type="number", step="any", name="rotZ", id="editEntityRotZ", value=entity.rotZ)
            .container.interface-part(id="editEntityScaleForm")
              .row
                .col-sm-4
                  label(for="sclX") Scale X :
                .col-sm-8
                  input.form-ctl(type="number", step="any", name="sclX", id="editEntitySclX", value=entity.sclX)
              .row
                .col-sm-4
                  label(for="sclY") Scale Y :
                .col-sm-8
                  input.form-ctl(type="number", step="any", name="sclY", id="editEntitySclY", value=entity.sclY)
              .row
                .col-sm-4
                  label(for="sclZ") Scale Z :
                .col-sm-8
                  input.form-ctl(type="number", step="any", name="sclZ", id="editEntitySclZ", value=entity.sclZ)
            br
            .container.interface-part(id="editEntitySubmit")
              .row
                .col-sm-4
                  button.btn.btn-danger(type="button") Remove
                .col-sm-4
                  button.btn.btn-info(type="button" id="editEntityProofButton") Proof
                .col-sm-4
                  button.btn.btn-success(type="submit") Commit
          br
          .container.interface-part(id="editFormResultContainer") Ready...

      .modal.fade.bd-example-modal-lg(id="zipModal" tabindex="-1" role="dialog" aria-labelledby="zipModal" aria-hidden="true")
        .modal-dialog.modal-lg
          .modal-content
            .jumbotron
              h1.display-3 How to Convert 3D model to Zip
              ol(type="1")
                li
                  p.lead 
                    a(href="https://login.playcanvas.com/" target="_blank") Login to PlayCanvas
                    p using these credentials or use your own "Personal" account ($15 per month)
                    ul
                      li
                        p username: anon@cybers.cafe
                      li
                        p password: sunrisedoctrine
                li
                  p.lead Click New+
                li
                  p.lead Blank Project
                li
                  p.lead Editor
                li
                  p.lead On the bottom panel, click Add Asset then Upload your 3d model file
                li
                  p.lead After the import, click and drag the main json file to the center viewport
                li
                  p.lead On the far left click the last icon for Publish/Download and select Download
                li
                  p.lead Click Web Download to download your zip  
