//- Copyright 2015-2016, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

doctype html
html(lang="en")
  head
    meta(name='cybers-cafe' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    meta(charset='utf-8')
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    title Cybers Cafe
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/canvas/styles.css")
    link(rel="manifest" href="/canvas/manifest.json")
    script(src="/scripts/jquery-3.1.1.min.js")
    script(src="/canvas/playcanvas-stable.min.js")
    script(src="/canvas/const.js")
    script(src="/scripts/home.js")
  body
      div(id="viewport-div")
      script(src="/canvas/__start__.js")
      script(src="/canvas/__loading__.js")
      div(id="drawer-icon-div")
        span.glyphicon.glyphicon-menu-hamburger.drawer-icon(onclick="drawer()")

      div(id="interface-div")
        span.glyphicon.glyphicon-menu-hamburger.drawer-icon(onclick="drawer()")

        .navbar.navbar-default
          .navbar-header
            .navbar-brand /Cybers Cafe/

        .navbar.navbar-default
          .container

            ul.nav.navbar-nav
              li
                a(id="imageLink", href="#") Image
              li
                a(id="audioLink", href="#") Audio
              li
                a(id="modelLink", href="#") 3d Model
              li
                a(id="functionLink", href="#") Function

        form(name="createEntityModel" method="post" enctype="multipart/form-data")
          .container.interface-part(id="modelFormContainer")
            .row
              .col-sm-4
                label(for="title") Title :
              .col-sm-8
                input.form-ctl(type="text", name="title", id="title", value=entity.title)
            .row
              .col-sm-4
                label(for="author") Author :
              .col-sm-8
                input.form-ctl(type="text", name="author", id="author", value=entity.author)
            .row
              .col-sm-4
                label(for="description") Description :
              .col-sm-8
                input.form-ctl(type="text", name="description", id="description", value=entity.description)
            .row
              .col-sm-4
                label(for="zipFile") Zip File :
              .col-sm-8
                input.form-ctl(type="file", name="zipFile", id="zipFile", value=entity.zipFile)
            .row
              .col-sm-4
              .col-sm-4
                button.btn.btn-success(type="submit") Upload
              .col-sm-4
        .container.interface-part(id="modelFormResultContainer") Ready...